@font-face {
    font-family: 'iconfont';  /* Project id 2817489 */
    src: url('//at.alicdn.com/t/font_2817489_u6vq2v9v5tm.woff2?t=1632358739368') format('woff2'),
         url('//at.alicdn.com/t/font_2817489_u6vq2v9v5tm.woff?t=1632358739368') format('woff'),
         url('//at.alicdn.com/t/font_2817489_u6vq2v9v5tm.ttf?t=1632358739368') format('truetype');
  }
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: 0.16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}